@font-face {
    font-family: 'Playball';
    src: url('Playball/Playball-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Make footer stick at the bottom */

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main {
    /*
        Height of <footer> + its top and bottom margins
        + its top and bottom borders + a few pixels more for when a slider is at minimum value
    */
    padding-bottom: 134px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* ! Make footer stick at the bottom*/

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: firebrick;
    text-decoration: none;
}

.btn-primary {
    background-image: linear-gradient(to bottom, tomato 0px, firebrick 100%);
    border-color: firebrick;
    background-color: tomato
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: firebrick;
    border-color: tomato;
}

#wrapper > .container {
    padding-left: 0px;
    padding-right: 0px;
}

header {
    border-bottom: #ddd 1px solid;
}

#title,
#baseline {
    display: inline;
}

#title {
    font-family: 'Playball';
    color: tomato;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
    font-size: 34px;
}

#baseline {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

#main {
    vertical-align: middle;
}

#visualizer-row {
    margin-left: 0px;
    margin-right: 0px;
}

#visualizer-row > div {
    padding-left: 1px;
    padding-right: 1px;
}

#controls-row {
    margin-left: 0px;
    margin-right: 0px;
}

#controls-row > div {
    padding-left: 0px;
    padding-right: 0px;
}

#left-col,
#right-col {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

#left-col > .row,
#right-col > .row {
    margin-left: 0px;
    margin-right: 0px;
}

#left-col label.label,
#right-col label.label {
    display: block;
    padding: 1px;
}

#palo-and-options {
    padding-left: 0px;
    padding-right: 0px;
}

#palo-and-options label,
#palo {
    margin-bottom: 0px;
}

.play {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: #ffffff;
    border: 6px solid tomato;
    border-radius: 50%;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    outline: none;
    vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 4px;
}

.play:hover {
    border-color: firebrick;
}

.play.active {
    border-color: tomato;
}

.play.active:hover {
    border-color: firebrick;
}

#tempo-label,
#volume-label {
    margin-bottom: 17px;
}

#tempo-slider-container {
    padding-left: 1px;
    padding-right: 0.5px;
}

#volume-slider-container {
    padding-left: 0.5px;
    padding-right: 1px;
}

.slider.slider-vertical {
    height: 144px;
}

.slider-handle {
    background-color: tomato;
    background-image: linear-gradient(to bottom, tomato 0%, firebrick 100%);
    margin-left: -15px !important;
    margin-top: -15px !important;
    height: 40px;
    width: 40px;
}

.slider-track {
    background-image: linear-gradient(to bottom, white 0%, tomato 100%);
}

#info {
    opacity: 0;
    vertical-align: middle;
    display: table-cell;
    height: 60px;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

/* 992px is the limit width from medium to large with bootstrap */
@media all and (min-width: 992px) and (orientation: landscape), (min-height: 500px) and (orientation:portrait) {

    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #title {
        font-size: 60px;
    }

    #baseline {
        font-size: 30px;
    }

    #visualizer-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #palo-and-options label,
    #palo {
        margin-bottom: 10px;
    }

    #left-col label.label,
    #right-col label.label {
        padding: 3px;
    }

    .slider.slider-vertical {
        height: 200px;
    }

}

@media all and (min-width: 992px) and (orientation: landscape) {

    .play,
    #info {
        height: 100px;
    }

    .play {
        border-width: 10px;
        width: 100px;
    }

    #info {
        margin-top: 40px;
        display: block;
    }

}

/* 1200px is the limit width from medium to large with bootstrap */
@media all and (min-width: 1200px) and (orientation: landscape) {

    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #visualizer-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #palo-and-options label,
    #palo {
        margin-bottom: 20px;
    }

}
