@font-face {
    font-family: 'Playball';
    src: url('../fonts/Playball/Playball-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Make footer stick at the bottom */

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* ! Make footer stick at the bottom*/

/* Center the whole content verticaly */

body {
    display: table;
    width: 100%;
}

#wrapper {
    display: table-cell;
    vertical-align: middle;
}

/* ! Center the whole content verticaly */

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: firebrick;
    text-decoration: none;
}

.btn {
    padding: 1px;
}

.btn-lg {
    font-size: 14px;
}

.btn:focus {
    outline: none !important;
}

.btn-default:focus {
    background-color: #fff;
}

.btn-default.active {
    background-color: #e6e6e6;
}

.btn-default:not(.active) {
    background-color: white;
}

.btn-primary {
    background-image: linear-gradient(to bottom, tomato 0px, firebrick 100%);
    border-color: firebrick;
    background-color: tomato;
    padding: 6px 12px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: firebrick;
    border-color: tomato;
}

.btn-circle.btn-lg {
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 9px;
    border-radius: 25px;
}

.btn-icon {
    width: 14px;
}

.btn-instrument {
    width: 32px;
}

#wrapper > .container {
    padding-left: 0px;
    padding-right: 0px;
}

#title,
#baseline {
    display: inline;
}

#title {
    font-family: 'Playball';
    color: tomato;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
}

#baseline {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

#visualizer .bar,
#visualizer .beat-label {
    display: inline-block;
}

#visualizer .row-1 {
    position: relative;
}

#visualizer .bar {
    position: absolute;
    bottom: 0px;
}

#visualizer .bar-strong {
    background-color: firebrick;
}

#visualizer .bar-up,
#visualizer .bar-down {
    background-color: tomato;
}

#visualizer .row-2,
#visualizer .beat-label {
    height: 16px;
}

#visualizer .beat-label {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5px;
    text-align: center;
    vertical-align: top;
}

.beat-label.beat-label-strong {
    color: black;
}

.beat-label.beat-label-up,
.beat-label.beat-label-down {
    color: lightgray;
}

#left-col,
#right-col {
    text-align: center;
}

#palo {
    cursor: pointer;
    padding: 1px;
    font-size: 11px;
    height: 22px;
}

.toggle-instrument {
    display: none;
    position: absolute;
    z-index: 3;
}

.play {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: #ffffff;
    border: 5px solid tomato;
    border-radius: 50%;
    color: #777;
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.play:hover {
    border-color: firebrick;
}

.play.active {
    border-color: tomato;
}

.play.active:hover {
    border-color: firebrick;
}

#tempo-label,
#volume-label {
    margin-bottom: 17px;
    font-size: 70%;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 0px;
}

#right-col .slider-container,
#right-col .buttons {
    padding-left: 1px;
    padding-right: 1px;
}

.slider.slider-vertical,
#right-col .buttons {
    height: 80px;
}

.slider-handle {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: 30px;
    width: 30px;
    margin-left: -10px !important;
    margin-top: -10px !important;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .125);
            box-shadow: 0 0 5px rgba(0, 0, 0, .125);
}

.slider-selection {
    background-color: #fff;
    background-image: none;
    border: 1px solid #adadad;
}

.slider-track {
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
}

#right-col .buttons button {
    padding: 0px 3px;
    background-color: white;
    border-color: #ADADAD;
    font-weight: bold;
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#right-col .buttons .bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#info {
    opacity: 0;
    line-height: 12px;
    font-size: 11px;
    margin: 0px;
    height: 24px;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

/* Landscape mode rules */
@media all and (min-width: 574px) and (orientation: landscape) {

    #title {
        font-size: 34px;
        margin-right: 8px;
    }

    #baseline {
        margin-left: 6px;
    }

    #visualizer {
        margin-bottom: 10px;
    }

    #visualizer .beat-label {
        font-size: 13px;
    }

    .btn-lg {
        font-size: 14px;
    }


   .btn-icon {
        width: 18px;
    }

    #palo {
        padding: 6px 12px;
        font-size: 14px;
        height: 34px;
    }

    #tempo-label,
    #volume-label {
        margin-bottom: 17px;
        font-size: 85%;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 92px;
    }

    #info {
        line-height: 15px;
        font-size: 14px;
        height: 30px;
    }

    .play {
        border-width: 6px;
        font-size: 20px;
        width: 60px;
        height: 60px;
    }

}

@media all and (min-width: 768px) and (orientation: landscape) {

    #title {
        font-size: 60px;
    }

    #baseline {
        font-size: 30px;
    }

    .btn {
        padding: 3px 5px;
    }

   .btn-icon {
        width: 32px;
    }

    #palo-and-options > * {
        margin-bottom: 15px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 200px;
    }

    #right-col .buttons button {
        padding: 2px 5px;
    }

    #right-col .buttons button:nth-of-type(1) {
        margin-bottom: 4px;
    }

    .slider-handle {
        width: 40px;
        height: 40px;
        margin-left: -15px !important;
        margin-top: -15px !important;
    }

}

/* 992px is the limit width from medium to large with bootstrap */
@media all and (min-width: 992px) and (orientation: landscape) {

    .btn {
        padding: 5px 10px;
    }

    #title {
        font-size: 80px;
    }

    #baseline {
        font-size: 45px;
    }

    #visualizer {
        margin-bottom: 20px;
    }

   .btn-icon {
        width: 32px;
    }

    .play {
        height: 100px;
        border-width: 10px;
        width: 100px;
    }

    #palo-and-options > * {
        margin-bottom: 22px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 250px;
    }

}

/* 1200px is the limit width from medium to large with bootstrap */
@media all and (min-width: 1200px) and (orientation: landscape) {
}

/* Portrait mode rules */

@media all and (orientation: portrait) {

    #palo-and-options > * {
        margin-bottom: 13px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 150px;
    }

}

@media all and (min-height: 480px) and (orientation: portrait) {

    #title,
    #baseline {
        display: block;
    }

    #wrapper > .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-group {
        margin-bottom: 10px;
    }

    .btn {
        padding: 2px 3px;
    }

    .btn-lg {
        font-size: 18px;
    }

    #visualizer .beat-label {
        font-size: 10px;
    }

    #palo {
        padding: 6px 12px;
        font-size: 14px;
        height: 34px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 200px;
    }

    .slider-handle {
        width: 40px;
        height: 40px;
        margin-left: -15px !important;
        margin-top: -15px !important;
    }

    #right-col .buttons button:nth-of-type(1) {
        margin-bottom: 4px;
    }

    #right-col .buttons button {
        padding: 2px 5px;
    }

    #info {
        line-height: 15px;
        font-size: 14px;
        height: 30px;
    }

    .play {
        border-width: 6px;
        font-size: 20px;
        width: 60px;
        height: 60px;
    }

}

@media all and (min-height: 574px) and (orientation: portrait) {

    #wrapper > .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn {
        padding: 2px 5px;
    }

    #visualizer {
        margin-bottom: 10px;
    }

}


@media all and (min-height: 768px) and (orientation: portrait) {

    #wrapper > .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #title {
        font-size: 60px;
    }

    #baseline {
        font-size: 30px;
    }

    #visualizer {
        margin-bottom: 20px;
    }

    #left-col > .row,
    #right-col > .row {
        padding-left: 2px;
        padding-right: 2px;
    }

   .btn-icon {
        width: 32px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 340px;
    }

    .play {
        width: 80px;
        height: 80px;
    }

    #palo-and-options > * {
        margin-bottom: 40px;
    }

}

@media all and (min-height: 992px) and (orientation: portrait) {

    #wrapper > .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn {
        padding: 4px 7px;
    }

   .btn-icon {
        width: 48px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 380px;
    }

    .play {
        width: 100px;
        height: 100px;
    }

    #palo-and-options > * {
        margin-bottom: 44px;
    }

}

@media all and (min-height: 1200px) and (orientation: portrait) {

    #wrapper > .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    #title {
        font-size: 80px;
    }

    #baseline {
        font-size: 45px;
    }

    .slider.slider-vertical,
    #right-col .buttons  {
        height: 450px;
    }

    #palo-and-options > * {
        margin-bottom: 56px;
    }

}
