@font-face {
    font-family: 'Playball';
    src: url('Playball/Playball-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Make footer stick at the bottom */

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main {
    padding-bottom: 101px; /* Height of <footer> + its top and bottom margins + its top and bottom borders */
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* ! Make footer stick at the bottom*/

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: firebrick;
    text-decoration: none;
}

#wrapper > .container {
    padding-left: 6px;
    padding-right: 6px;
}

header {
    border-bottom: #ddd 1px solid;
}

#title,
#baseline {
    display: inline;
}

#title {
    font-family: 'Playball';
    color: tomato;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
    font-size: 40px;
}

#baseline {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

#palo-and-options,
#play-and-info-container,
#sliders {
    text-align: center;
}

#palo-and-options label,
#sliders label {
    display: block;
    padding: 2px;
}

#palo-and-options label,
#palo {
    margin-bottom: 4px;
}

.play {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: #ffffff;
    border: 6px solid #F7F7F7;
    border-radius: 50%;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    outline: none;
    vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.play:hover {
    border-color: tomato;
}

.play:active, .play.active {
    position:relative;
    top:1px;
    left: 1px;
    border-color: tomato;
}

.slider-container {
    display: inline-block;
}

.slider-container:nth-of-type(1) {
    margin-right: 4px;
}

#tempo-label,
#volume-label {
    margin-bottom: 12px;
}

.slider.slider-vertical {
    height: 180px;
}

#info {
    opacity: 0;
    padding-top: 10px;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

/* 992px is the limit width from medium to large with bootstrap */
@media all and (min-width: 992px) {

    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #title {
        font-size: 60px;
    }

    #baseline {
        font-size: 30px;
    }

    #visualizer-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #palo-and-options label,
    #palo {
        margin-bottom: 10px;
    }

    #info {
        margin-top: 30px;
    }

    #palo-and-options label,
    #sliders label {
        padding: 6px;
    }

    .play {
        border-width: 12px;
        width: 120px;
        height: 120px;
    }

}
