bower_components
.vagrant
web/common
web/bower_components
cordova/platforms/android/.gradle
cordova/platforms/android/CordovaLib/build
cordova/platforms/android/res/xml/config.xml
cordova/www/common
cordova/platforms/android/assets/www
cordova/platforms/android/release-signing.properties
crosswalk/common
crosswalk/bower_components
*.apk
.project
