/* Fonts */
@font-face {
    font-family: "Playball";
    src:
        local(Playball),
        url("/fonts/Playball/Playball-Regular.ttf") format("truetype");
}

/*
    Begin "Stick footer to the bottom" rules
    Source : http://materializecss.com/footer.html
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* End "Stick footer to the bottom" rules */

.btn {
    padding: 0 .5rem;
    i.left {
        margin-right: 5px;
    }
}

.btn-help {
    @extend .waves-effect, .waves-red, .btn;
    &:hover {
        background-color: $primary-color-light;
        color: color("grey", "lighten-5") !important;
    }
    .mdi {
        margin-right: 0px !important;
    }
}

.label-highlighted {
    color: $primary-color !important;
}

.toast {
    background-color: $primary-color;
    color: white;
    border: white 1px solid;
}

body {
    @extend .grey, .darken-4;
}

header {
    border-bottom: color("grey", "lighten-5") 1px solid;
}

.brand-logo {
  font-family: "Playball";
  font-size: 1.5em;
}

main {
  color: color("grey", "lighten-5");
    a:hover {
        &:not(.btn) {
            color: $primary-color-light;
        }
    }
}

.secondary-content {
  color: $primary-color;
  margin-left: 10px;
  &:hover {
      color: $tabs-text-color;
  }
}

footer {
    @extend .page-footer;
    border-top: $primary-color 1px solid;
    color: color("grey", "lighten-5");
    a:not(.btn) {
        color: color("grey", "lighten-3");
        &:hover {
            color: $primary-color-light;
        }
    }
    .footer-copyright {
        background-color: color("grey", "darken-4");
        border-top: $primary-color 1px solid;
    }
}

#loop-edit {
    #rhythmic-structure .rhythmic-structure-item {
        border: color("grey", "lighten-5") 1px solid;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 10px;
    }
}

#faq {
    #expanded {
        a {
            color: color("grey", "lighten-5");
        }
    }
}
